
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
/* @import 'node_modules/admin-lte/build/scss/AdminLTE.scss'; */

/* FontAwesome */
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";


/* Bootswatch */
@import "node_modules/bootswatch/dist/superhero/variables";
@import "node_modules/bootswatch/dist/superhero/bootswatch";

/* Bootstrap-select */
@import "node_modules/bootstrap-select/sass/bootstrap-select.scss";
@import "node_modules/bootstrap-select/sass/variables.scss";

/* Datetimepiker */
@import "node_modules/tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4-build.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Custom CSS
@import 'custom';